<h1>Startup Sprint!</h1>

<!-- TODO: fix logo image -->
<img src="images/learnco.jpg">

<h3>Subscribe to the Stertup Sprint newsletter</h3>

<% if @error == 'email' %>
  <p style="color: red;">Please enter a valid email</p>
<% end %>

<!-- TODO: Add form validations -->
<form method=POST action="/subscribe">
  <label for="full-name">Full Name</label>
  <input type="text" id="full-name" name="full_name">
  <%=form.text_field :full_name, :required => true %>
  <label for="email">Email</label>
  <input type="text" id="email" name="email">
  <%= f.email_field :email, id: 'user_email', type:'email', required: true, placeholder: "Email" %>
  <!-- TODO: add city field -->

  <%=form.text_field :city, :required => true %>
  <input type="Submit">
</form>
