# ERB to HTML translation to render three reddit posts from the reddit JSON API dump

# Post One
<div>
  <div class="column">
    <h3>Post One</h3>
      <% @post_one %>
      <% end %>
  </div>
  
=begin
# Post Two
  <div class="column">
    <h3>Post Two</h3>
    <ol>
      <% @post_two.each do |item| %>
        <li><%= item.first %>: <%= item.last %></li>
      <% end %>
    </ol>
  </div>
</div>

# Post Three
<div class="column">
    <h3>Post Three</h3>
    <ol>
      <% @post_three.each do |item| %>
        <li><%= item.first %>: <%= item.last %></li>
      <% end %>
    </ol>
  </div>
</div>
=end