<!-- ERB to HTML translation to render n reddit posts from the reddit JSON API dump -->

<!-- Render reddit posts using ERB object, working through HTML -->

  <div class="column">
    <h3>Reddit Snapshot</h3>
    <ol>
      <% @reddit_posts.each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ol>
  </div>
</div>